/*base/_fonts.scss*/
@use '../abstracts' as *;

.playfair-display {
  font-family: "Playfair Display", "Didot", "Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

// Pretendard 폰트 정의
@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/Pretendard-Thin.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/Pretendard-ExtraLight.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/Pretendard-Light.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Pretendard-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/Pretendard-Medium.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/Pretendard-SemiBold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Pretendard-Bold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-style: normal;
    src: url('../fonts/Pretendard-ExtraBold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/Pretendard-Black.woff2') format('woff2');
    font-display: swap;
} 

@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/playfair-display.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BonmyeongjoSourceHanSerif';
  src: url("../fonts/NotoSerifKR.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// 폰트 패밀리 정의
$font-family-pretendard: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
$font-family-playfair: 'Playfair Display', serif;

