@use '../abstracts' as *;

.btn{
    &-outline{
        @include btn();
        .ico-prev{
            background-image: svg(prev,"222222"); 
        }
        .ico-next{
            background-image: svg(next,"222222"); 
        }
        &:hover{
            background-color:$black;
            color:$white;     
            .ico-prev{
                background-image: svg(prev,"ffffff"); 
            } 
            .ico-next{
                background-image: svg(next,"ffffff"); 
            }       
        }
        &:focus-visible{
            outline: 2px solid $focus-outline;
            outline-offset: 2px;
        }   
        &.small{
            @include btn-small($btn-small-width,4.4rem)
        }
        &.large{
            @include btn-large(20rem,8rem)
        }   
        
        @include respond(mobile){    
            @include btn(7rem,5rem);
            font-size:1.4rem;        
            &.large{
                @include btn-large(12rem,5rem);
                padding:1.5rem 2rem;
                font-size:1.5rem;
            } 
        }
        
    }
    &-fill{
        @include btn();
        background:$primary-color; 
        color:$white;
        &:hover{
            background-color:$white;
            color:$primary-color;  
            .ico-home2{
                background-image: svg(home2,"000000")
            }  
            .ico-prev{
                background-image: svg(prev,"222222"); 
            }
            .ico-next{
                background-image: svg(next,"222222"); 
            }
        }

        &:focus-visible{
            outline: 2px solid $focus-outline;
            outline-offset: 2px;
        }   
        &.small{
            @include btn-small($btn-small-width,4.4rem)
        }
        &.large{
            @include btn-large(20rem, 8rem)
        }      
        
        @include respond(mobile){    
            @include btn(7rem,5rem);
            font-size:1.4rem;        
            &.large{
                @include btn-large(12rem,5rem);
                padding:1.5rem 2rem;
                font-size:1.5rem
            } 
        }
    }
}

.btn-login{
    display: inline-flex;
    align-items: center; 
    height:4.4rem;
    font-size:1.4rem;
    font-weight: 600;    
    letter-spacing: -0.28px;
}

.btn-navbar{
    position: relative;
    display: block; 
    width:2.8rem;
    height:2.4rem;
    z-index: 104;
    .bar{
        position: relative;
        width:100%;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        em,
        &::before,
        &::after{
            display: block;
            width:100%;
            height:2px;
            background-color: $white;
            transition: transform 0.3s ease-in-out;
        }
        &::before,
        &::after{
            content: '';
        }        
    }
    &.open{
        .bar{            
            em{
                display: none;
            }
            &::before,
            &::after{
                position: absolute; 
                top:50%;
                background-color:$primary-color;             
            }
            &::before{
                transform:rotate(45deg);               
            }
            &::after{
                transform:rotate(-45deg);
            }
        }
    }
    @include respond(mobile){ 
        width:2.2rem; 
        height:2.0rem; 
    }
}

.btns{
    &-col1{
        display: flex;
        justify-content: center;
        margin-top: 6rem;
    }
    &-col2{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-top: 6rem;
    }
    @include respond(mobile){
        &-col1{
            margin-top: 3rem;
        }
        &-col2{
            margin-top: 3rem;
            gap:1rem;
        }
    }
}

.btn-viewMore{
    display: inline-flex;
    align-items: center;
    padding:0 2rem;
    border-radius: 5rem;
    border:1px solid $gray55;
    height:5.2rem;
    gap:0.6rem;
    font-size: 1.6rem;
    letter-spacing: -0.32px;
    line-height: 1;
    .ico-arrow{
        @include ico(1.6rem,1.6rem);
        background-image: svg(arrSideUp,"222222");
        background-size: cover;
    }
    @include respond(mobile){
        font-size:1.2rem;
        padding:0 1.4rem;
        height:3.4rem;
        .ico-arrow{
            @include ico(1rem,1rem);
        }
    }
}

.btn-detail{
    @include flex-c;
    padding: 1.5rem 2rem;
    gap:0.6rem;
    border-radius: 5rem;
    background: $white;
    height:4.5rem;
    min-width:16rem;
    span{
        font-weight: 600; 
        vertical-align: middle;  
        font-size: 1.8rem;            
    }
    .ico-arr{
         @include ico(0.6rem,0.9rem);
        background-image: svg(linkArrB,"222222");
        vertical-align: middle;    
    }
   

}

.btn-sh-detail{
    display: flex;
    gap:0.9rem;
    align-items: center;
    padding:2.8rem 3.4rem;
    font-size:2rem;
    font-weight: 500;
    letter-spacing: -0.4px;
    &::after{
        content: '';
        display: block;
        width: 1.5rem;
        height:1.8rem;
        background: url(#{$img-path}/common/ico-detail.svg) no-repeat 50% 50%;
        background-size: cover;
    }
}

.btn-gray{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding:1rem 2.1rem;
    gap:0.6rem;
    font-size:1.6rem;
    font-weight: 500;
    letter-spacing: -0.32px;
    border:1px solid $primary-color;
    background:$background-th;
    color:$primary-color;
    border-radius:2.4rem;
    line-height: 1;   
    height:4.4rem;
    white-space: nowrap;
    @include respond(mobile){
        border-radius: 2.2rem;
        font-size: 1.3rem;
        height:4rem;
        padding:1rem 1.2rem;
        .ico-arrb{
            @include ico(0.4rem,0.8rem);
        }
    }
}
.btn-x{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:2.4rem;
    height:2.4rem;
    border: 1px solid $primary-color;
    background: $background-th;
    border-radius: $border-radius-sm;
    i{
        width:1.2rem;
        height:1.2rem;
    }

    @include respond(mobile){
        width:2rem;
        height:2rem;
        i{
            width:1rem;
            height:1rem;
        }
    }
}

.btn-fav{
    width:2rem;
    height:2rem;
    background:url(#{$img-path}/common/ico-fav.svg) no-repeat 50% 50%;
    background-size: cover;
    &.active{
        background:url(#{$img-path}/common/ico-fav-on.svg) no-repeat 50% 50%;
    background-size: cover;
    }
}